.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #34a853;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2f8c49;
}
